html
    include ./includes/head
    body
        .header
            .text 28 <strong> strava </strong>days
        .content
            .grid
                .type
                    p.
                        In older versions of the strava app there was a number.
                        The accumulated distance covered over the last 28 days.
                        I used it as my KPI and I miss it. Here it is.
            .grid
                .type
                    a(href!= authUrl)
                        img(alt='Connect with strava' src='/images/strava-connect.png' width='171')

